/*\
tags: $:/tags/Stylesheet
title: Stylesheet.css
type: text/css

\*/

a.relink-dragger {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}

a.relink-dragger:hover {
	text-decoration: none;
}

.relink-dragger:active {
	position:relative;
	top:1px;
}

a.relink-markdown.relink-dragger {
	padding:4px 18px;
}
.relink-text {
	padding: 0px;
}

.relink-text pre {
	padding: 6px;
	margin: 0px;
	border: none;
}

.relink-demo-source {
	float: left;
	width: 49%;
	border: 1px solid #cccccc;
	margin-top: 0px;
	margin-bottom: 0px;
}

.relink-demo-preview {
	float: right;
	width: 49%;
	margin-left: 0px;
	margin-right: 0px;
	border: 1px solid #cccccc;
	padding: 3px;
}

.relink-demo-fields {
	width: 100%;
}

.relink-demo-description {
	clear: both;
	padding-top: 5px;
}

.relink-demo-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
