name: Tests and GitHub Pages deployment

on:
  push:
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: lts/*
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: Run tests
      run: npm test
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: lts/*
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: Build Website
      run: |
        npm run build
        npm run library
    - name: Output results for debugging
      run: ls -la plugins
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: output/
  deploy:
    needs: build
    permissions:
      contents: write
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
